@mixin prefix($property, $value) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
  #{$property}: $value;
}

@mixin ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin background-gradient($start-color, $end-color) {
  background: $start-color;
  background: -moz-linear-gradient(top, $start-color 0%, $end-color 100%);
  background: -webkit-linear-gradient(top, $start-color 0%, $end-color 100%);
  background: linear-gradient(to bottom, $start-color 0%, $end-color 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$start-color}', endColorstr='#{$end-color}', GradientType=0);
}

@mixin box-shadow {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

@mixin absolute-center($width, $height) {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -($height / 2);
  margin-left: -($width / 2);
}

@mixin full() {
  width: 100%;
  height: 100%;
}

@mixin btn-effect {
  &:active {
    filter: brightness(0.99);
    transform: scale(0.99);
  }
}

@mixin line-clamp($lines, $line-height) {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  max-height: $lines * $line-height;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin form {
  & form {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background: white;
    margin: 1.5rem;
    border-radius: 10px;
    font-size: 0.9rem;

    & input::placeholder,
    & textarea::placeholder {
      color: #d9d9d9;
      font-style: italic;
    }

    label {
      margin: 0.5rem 0;
      font-weight: 600;
      & span {
        color: #ff7575;
      }
    }

    & > *:not(label) {
      padding: 0.7rem 1rem;
      border-radius: 7px;
      outline: none;
      color: $primary-black;
    }
    & > *:not(label, button) {
      border: 1px solid #d9d9d9a7;
    }

    & select {
      background: white;
    }

    & textarea {
      resize: none;
    }
    & div {
      margin: 0.5rem 0;
      text-align: center;
      padding: 1.5rem;
      border-radius: 10px;
      border: 2px dashed $primary-grey;
      font-size: 0.7rem;

      & i {
        font-size: 1.2rem;
        margin: 0.5rem 0;
        color: $primary-green;
      }

      & span {
        color: red;
        font-weight: 500;
      }
    }
    & button[type="submit"] {
      margin: 1rem 0;
      padding: 0.7rem 1rem;
      border: none;
      border-radius: 7px;
      background: $primary-green;
      color: white;
      cursor: pointer;
      transition: 0.3s;
      text-transform: capitalize;
      & i {
        margin-right: 0.5rem;
      }
    }
  }
}
