// COLOR
$primary-green: #07beb8;
$secondary-green: #3dccc7;
$tertiary-green: #bcebebd5;

//$tertiary-green: #68d8d6;

$primary-purple: #ce34e7;
$secondary-purple: #b78bff;

$primary-black: #011627;
$secondary-black: #313131;

$primary-red: #ff5252;
$secondary-red: #ff9999;

$primary-blue: #80acef;
$secondary-blue: #C0D8FD;

$white: #f8f8f8;

$primary-grey: #cecece;
$secondary-grey: #f8fafc;

// MEASURES

$profile-img-size: 40px;
$mb-profile-img-size: 30px;
$posts-layout-max-width: 1300px;
