{
  "tabWidth": 2,
  "semi": true,
  "printWidth": 100,
  "singleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "quoteProps": "as-needed"
}
