@import "@sass/main";

#error-boundary {
  height: 90dvh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  text-align: center;

  & img:nth-child(1) {
    display: inline;
      text-align: left;
      width: 4rem;
      margin: 2rem auto;
      filter: grayscale(100%) contrast(3);
  }

  & img:nth-child(2) {
    width: 50%;
    max-width: 300px;
  }

  &-title {
    font-size: 2.5rem;
    margin-top: 1rem;
    font-weight: 900;
    color: $primary-grey;
  }

  &-message {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    color: $primary-grey;
  }

  & button {
    margin-top: 2rem;
    color: white;
    background: $primary-green;
    padding: 0.7rem 1rem;
    border-radius: 10px;
    @include btn-effect;
  }
}
