@import "@sass/main";

#Home {
  #make-post-btn {
    @include tablet-portrait {
      display: none;
    }
    i {
      margin-right: 0.5rem;
    }
    padding: 0.5rem 0.85rem;
    border-radius: 5px;
    border: 0;
    background-color: $primary-green;
    color: $white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    @include btn-effect;
  }
}

#posts {
  padding: 1rem;
  @include full;
  max-width: $posts-layout-max-width;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(1, 190px);
  grid-auto-rows: minmax(190px, 1fr);
  gap: 1rem;
}
