@import "@sass/main";

#single-post {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 0.5rem;

  &-resume {
    overflow: hidden;
    @include full;
    padding: 1rem;

    & .display {
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgb(224, 224, 224);
      overflow: auto;
      & img {
        height: 100%;
        width: 100%;
        transform: scale(1);
      }
    }

    & button {
      width: fit-content;
      color: $primary-green;
      background: $white;
      border: 1px solid $secondary-grey;
      box-shadow: 0 0.1rem 0.7rem rgba(0, 0, 0, 0.1);
      padding: 1rem;
      margin-top: 0.5rem;
      border-radius: 10px;
      cursor: pointer;
      @include btn-effect;
      & span {
        margin-right: 0.5rem;
        color: $primary-black;
      }
    }
  }
  &-other {
    // min-height: 95dvh;
    height: fit-content;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    position: relative;

    & .desc {
      @include full;
      border-bottom: 1px dashed $primary-grey;
      height: fit-content;
      max-height: 40dvh;
      padding: 1rem;
      & h2 {
        font-size: 1.2rem;
        font-weight: 700;
        color: $primary-black;
        margin-bottom: 0.5rem;
      }
      & p {
        font-size: 0.85rem;
        line-height: 1.5;
        text-align: justify;
      }
      & .links {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;
        margin: 0.7rem 0;
        & a {
          padding: 0.5rem 0.7rem;
          border-radius: 100px;
          background: white;
          border: 1px solid #e0e0e0;
          &:nth-child(1) {
            color: #3b5998;
          }
          &:nth-child(2) {
            color: #333;
          }
          & i {
            margin-right: 0.5rem;
          }
        }
      }
    }

    & .no-comment {
      @include full;
      margin: 10rem 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      color: $primary-grey;
      & i {
        font-size: 3rem;
        margin-bottom: 0.5rem;
      }
      & p {
        width: 80%;
        text-align: center;
      }
    }

    & .comments {
      position: relative;
      width: 100%;
      height: 100dvh;
      background: #f0f0f0;
      display: flex;
      flex-direction: column;
      overflow: auto;
    }

    & .comment {
      width: 95%;
      margin: 0.5rem auto;
      background: white;
      padding: 0.7rem;
      border-radius: 5px;
      p {
        font-size: 0.8rem;
        font-weight: 500;
      }
      & div {
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 0.5rem;
        & button {
          @include btn-effect;
          display: flex;
          align-items: center;
          gap: 0.5rem;
          outline: none;
          color: $primary-green;
          & span {
            color: $primary-black;
          }
        }
      }
    }

    & form {
      box-shadow: 0 -0.1rem 0.5rem rgba(0, 0, 0, 0.1);
      padding: 1rem;
      position: sticky;
      bottom: 0;
      height: fit-content;
      width: 100%;
      background: white;
      display: grid;
      grid-template-columns: 9fr 1fr;
      gap: 1rem;
      & > * {
        padding: 0.5rem 1rem;
      }

      & input {
        border: 1px solid $primary-grey;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        width: 100%;
        outline: none;
        &::placeholder {
          color: $primary-grey;
          font-size: 0.8rem;
          font-style: italic;
        }
      }

      & button {
        background: $primary-green;
        color: white;
        border: none;
        cursor: pointer;
        @include btn-effect;
        border-radius: 5px;
      }
    }
  }
}
