@import "@sass/main";

.mb-menu {
  z-index: 100;
  background: white;
  border-radius: 5px;
  padding: 1rem;
  position: absolute;
  top: 9.5%;
  right: 1%;
  transition: all 1s;

  @include desktop {
    display: none;
  }
  @include tablet-portrait {
    display: block;
  }

  &__img {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    font-size: 0.9rem;

    img {
      width: $mb-profile-img-size;
      height: $mb-profile-img-size;
      border-radius: 100px;
      display: block;
    }
    p {
      margin-left: 1rem;
      font-weight: 500;
    }
  }

  &__menu {
    border-top: 1px dashed $primary-grey;
    border-bottom: 1px dashed $primary-grey;
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
    width: 100%;
    font-size: 0.9rem;
    font-weight: 400;
    button {
      display: flex;
      justify-content: flex-start;
      padding: 0.3rem;
      width: 100%;
    }
  }

  &__setting {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: $primary-black;
  }
}
