@import "@sass/main";

.single-post-comment {
  width: 95%;
  margin: 0.5rem auto;
  background: white;
  padding: 0.7rem;
  border-radius: 5px;
  cursor: pointer;
  p {
    font-size: 0.8rem;
    font-weight: 500;
  }
  & .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    & > * {
      font-size: 0.63rem;
    }

    & .tag-one {
      color: $primary-grey;
      border-radius: 100px;
      border: 0.7px dashed $primary-grey;
      background: $secondary-grey;
      padding: 0.2rem 0.5rem;
    }
    & .tag-two {
      color: $secondary-purple;
      border-radius: 100px;
      border: 0.7px dashed $secondary-purple;
      background: #d8c3fb;
      padding: 0.2rem 0.5rem;
    }
  }
  & .body {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    & button {
      @include btn-effect;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      outline: none;
      color: $primary-green;
      & span {
        color: $primary-black;
      }
    }
  }
}
