@import "@sass/main";

.search {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.9rem;
  gap: 0.5rem;

  & > * {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    & > * {
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      padding: 0.5rem 0.85rem;
      border-radius: 5px;
      border: 0;
      background: white;
      &::placeholder {
        color: $primary-grey;
      }
      &:not(button) {
        font-style: italic;
        color: $secondary-black;
        border: 1px solid $primary-grey;
      }
      &:focus:not(button) {
        outline: 1.5px dashed $primary-green;
      }
    }
  }

  & input[type="search"] {
    min-width: 12rem;
  }

  button[type="submit"] {
    background-color: $primary-green;
    color: $white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    @include btn-effect;
  }
}
