@import "@sass/main";

header {
  width: 100%;
  height: fit-content;
  background: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header .menu {
  display: flex;
}

header .profile {
  display: flex;
}
