@import "@sass/main";

#spinner {
  height: 80dvh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;

  & i {
    font-size: 4rem;
    color: $primary-green;
  }
}
